@import '~bootstrap/scss/bootstrap';

body {
  margin-top: 40px;
  text-align: center;
  background-color: #cce6ff;
}

#before-auth {
  // background-color: #ffcc80;
}

#after-auth {
  // background-color: #b3ffb3;
  display: none;
}
